<!DOCTYPE html>
<html>
<head>
        <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    
    <h1 class="text-center">Account</h1>
    <p class="text-center">acount_id = 1</p>

    <div class="container">
        <div class="row text-center">
            <div class="col-5">
                <h2>Balances</h2>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Currency</th>
                            <th scope="col">Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>EUR</td>
                            <td><%= account[0].fiat_balance %></td>
                        </tr>
                        <tr>
                            <td>XLM</td>
                            <td><%= account[0].crypto_balance %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col border">
                <div class="row">
                    <div class="col">
                        <h4>Deposit</h4>
                        <p>Address: <%= publicKey %></p>
                        <p>Memo: <%= account[0].account_id %>
                            <small>(If the Memo is not included in your transfer we cannot credit your account.)</small></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4>Withdraw</h4>
                        <form action="makewithdraw" method="post">
                            <div class="form-row">
                                    <div class="form-group col-10">
                                        <input type="text" class="form-control" name="destination_address" placeholder="Destination Address" required>
                                    </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <input type="number" class="form-control" name="amount_lumens" placeholder="Amount" required>
                                </div>
                                <div class="form-group col-4">
                                    <input type="text" class="form-control" name="memo" placeholder="Memo (opt)">
                                </div>
                                <div class="form-group col-2">
                                    <button type="submit" class="btn"> Withdraw </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-5">
                <div class="row">
                    <div class="col">
                        <h2>Buy Orders</h2>
                        <table class="table table-sm table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Price <small>(€)</small></th>
                                    <th scope="col">Amount <small>(XLM)</small></th>
                                    <th scope="col">Total <small>(€)</small></th>
                                    <th scope="col">Sum <small>(€)</small></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var sum = 0 %>
                                <% buy_order.forEach((buy, index) => { %>
                                    <% var total = buy.price * buy.amount %>
                                    <% sum += total %>
                                    <tr>
                                        <td><%= buy.price %></td>
                                        <td><%= buy.amount %></td>
                                        <td><%= total %></td>
                                        <td><%= sum %></td>
                                        <td>
                                            <a href="/deletebuy/<%= buy.buy_order_id %>">Cancel</a>
                                        </td>
                                    </tr>
                                <% }) %>  
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>Sell Orders</h2>
                        <table class="table table-sm table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Price <small>(€)</small></th>
                                    <th scope="col">Amount <small>(XLM)</small></th>
                                    <th scope="col">Total <small>(€)</small></th>
                                    <th scope="col">Sum <small>(€)</small></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% sum = 0; %>
                                <% sell_order.forEach((sell, index) => { %>
                                    <% var total = sell.price * sell.amount; %>
                                    <% sum += total; %>
                                    <tr>
                                        <td><%= sell.price %></td>
                                        <td><%= sell.amount %></td>
                                        <td><%= total %></td>
                                        <td><%= sum %></td>
                                        <td>
                                            <a href="/deletesell/<%= sell.sell_order_id %>">Cancel</a>
                                        </td>
                                    </tr>
                                <% }) %>  
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <h2>Transactions History</h2>
                <table class="table table-sm table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Amount </th>
                            <th scope="col">Currency</th>
                            <th scope="col">Destination</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>