<!DOCTYPE html>
<html>
<head>
        <% include partials/head.ejs %>
</head>
<body>
    <header>
        <% include partials/header.ejs %>
    </header>
    
    <h1 class="text-center">Market</h1>
    <h2 class="text-center"> XLM/EUR</h2>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Buy Orders</h2>
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total</th>
                            <th scope="col">Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var sum = 0 %>
                        <% buy_order.forEach((buy, index) => { %>
                            <% var total = buy.price * buy.amount %>
                            <% sum += total %>
                            <tr>
                                <td><%= buy.price %></td>
                                <td><%= buy.amount %></td>
                                <td><%= total %></td>
                                <td><%= sum %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <form action="addbuy" method="post">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <input type="number" class="form-control" name="buy_price" placeholder="Price" required>
                        </div>
                        <div class="form-group col-4">
                            <input type="number" class="form-control" name="buy_amount" placeholder="Amount" required>
                        </div>
                        <div class="form-group col-4">
                            <button type="submit" class="btn">Place Buy Order</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col">
                <h2>Sell Orders</h2>
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Total</th>
                            <th scope="col">Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sum = 0 %>
                        <% sell_order.forEach((sell, index) => { %>
                            <% var total = sell.price * sell.amount %>
                            <% sum += total %>
                            <tr>
                                <td><%= sell.price %></td>
                                <td><%= sell.amount %></td>
                                <td><%= total %></td>
                                <td><%= sum %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                <form action="addsell" method="post">
                    <div class="form-row">
                        <div class="form-group col-4">
                            <input type="number" class="form-control" name="sell_price" placeholder="Price" required>
                        </div>
                        <div class="form-group col-4">
                            <input type="number" class="form-control" name="sell_amount" placeholder="Amount" required>
                        </div>
                        <div class="form-group col-4">
                            <button type="submit" class="btn">Place Sell Order</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>